body {
    font-family: 'Roboto';
    text-align: center;
}

/* Barra de navegación */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    height: auto;
    text-align: center;
}

.imagen-pequeña {
    width: 50px;
    height: 50px;
}

.nosubWhite {
    text-decoration: none;
    color: white;
}

.navbar {
    display: inline-flex;
    /*border: 1px solid white;*/
    margin: 0px 45px 10px 45px;
    justify-content: space-between;
}

.paddingGrandeIzq {
    padding-left: 100px;
}

.paddingGrandeDer {
    padding-right: 60px;
}

.noPaddingTop {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* MacBook Air de en medio */
.welcome {
    margin-top: 25px;
    margin-bottom: 25px;
}

.textRed {
    color: red;
    margin-top: 20px;
    margin-bottom: 6px;
}

h1 {
    font-size: 70px;
    font-weight: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nosubBlue {
    text-decoration: none;
    color: rgb(0, 113, 227);
}

.boton {
    background-color: rgb(0, 113, 227);
    color: white;
    font-size: 18px;
    margin-bottom: 13px;
    padding: 9px 13px 9px 13px;
    border-radius: 15px;
    border: none;
}

/* Foto MacBook */
.macbook-horizontal {
    width: 1300px;
    height: 300px;
    margin-top: 80px;
}

/* Bloques grises */
.otrasCosas {
    display: inline-flex;
    margin: 70px 50px 10px 50px;
    justify-content: space-between;
    height: auto;
}

.bloques {
    background-color: rgb(242, 242, 242);
    margin: 40px 15px 20px 15px;
    width: 750px;
    height: 800px;
    padding-top: 70px;
}

h2 {
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.tools {
    width: 750px;
    height: 350px;
    margin-top: 100px;
}

.cover {
    width: 750px;
    height: 350px;
    margin-top: 75px;
}

.tamañoLetra {
    font-size: 18px;
    word-spacing: 3px;
}

/* Envío y devolución */
.apple-box {
    width: 50px;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 0px;
}

.entrega {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.devolucion {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 17px;
}

/* Footer */
footer {
    margin-top: 35px;
    /*padding: 1px 20px 30px 90px;*/
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(242, 242, 242);
    height: auto;
    text-align: left;
    color: rgb(81, 81, 84);
}

#copy {
    margin-left: 70px;
    padding-left: 60px;
}

ul{
    list-style-type: none;
    text-align: left;
    margin-left: 70px;
 }

 li{
    display: inline;
    margin: 0 20px 0 20px;
 }

 .nosubGrey {
    text-decoration: none;
    color: rgb(81, 81, 84);
 }